
/* Required variables */
default_keypair_public_key = "CONTENTS OF YOUR PUBLIC KEY HERE"
control_cidr = "CIDR OF MACHINE RUNNING TERRAFORM HERE"

default_keypair_name = "k8s-poc-cn"

/* Optionally use an existing VPC */
vpc_name = "NAME OF EXISTING VPC NAME HERE"
vpc_id = "ID OF EXISTING VPC"

/* Optionally use existing subnet */
subnet = "EXISTING SUBNET ID"
subnet_cidr = "EXISTING SUBNET CIDR"

iam_instance_id = "IAM INSTANCE ID HERE"

/* Optional. Set as desired */
region = "cn-north-1"
zone = "cn-north-1a"
default_ami = "ami-5b73a236"

/*
   If your chosen region above doesn't have a corresponding ami
   in the "amis" variable (found in variables.tf), you can
   override the default below.
*/

amis = { cn-north-1 = "ami-5b73a236" }
